.booking-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.5rem;
  }

  .passengers {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .passenger-info {
      width: 300px;
    }
  }
}
