.booking-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .flight {
    margin: 8px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
